*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calculator{
    width: 300px;
    margin:100px auto;
    border: 1px solid #000;
    padding: 20px;
    border-radius: 10px;
    background-color: #6e6969;
}
#display{
    width: 100%;
    height:auto;
    font-size: 30px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid hsl(0, 12%, 93%);
    border-radius: 5px;
}
.button_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}